Input {

padding: 5px;
margin: 5px 0px 10px 0px;
display: inline-block;
border: none;
background: #f1f1f1;
}

Input:focus {
background-color: #ddd;
outline: none;
}
Input[type='text']{
  margin:8px 0px 8px 0px;
  width: 98%;
}
Input[type='radio']{
  margin-left: 30px;
  margin-top: 8px;
}

label{
  margin : 10px;
  font-size: 15px;
}

.Input img {
    background-color: white;
    height: 80%;
    width: 80%;
    box-sizing: border-box;
    border-radius: 5px;
}
